.red-background {
  background-color: hsl(348, 85%, 47%);
}

.green-background {
  background-color: hsl(125, 93%, 37%);
}

.yellow-background {
  background-color: hsl(60, 90%, 31%);
}

.blue-background {
  background-color: hsl(220, 82%, 46%);
}
