<div class=" mt-5 ml-4">
    <div class="font-Lato flex flex-col md:flex-row justify-around space-x-4 items-center md:items-start">
        <div class="space-y-5">
            <h2 class="font-bold text-[20px] mb-5">Teachers</h2>
            <div *ngFor="let user of teachers"
                class="flex flex-row justify-around items-start p-4 w-[360px] h-[133px] border rounded-xl shadow-lg shadow-gray-300">
                <div class="flex flex-col basis-2/3 justify-start w-full space-y-1 items-start">
                    <h3 class=" text-[17px] font-bold">{{ user.firstName }} {{ user.lastName }}</h3>
                    <p *ngIf="user.description" class="text-[17px] ">{{ user.description }}</p>
                    <div class="flex flex-row justify-start space-x-1 items-center">
                        <span class="material-icons-round">calendar_month</span>
                        <p class="text-[11px]" *ngIf="user.arrivalDate">
                            {{ user.arrivalDate }}
                        </p>
                    </div>
                </div>
                <p [ngClass]="{ 'red-background': user.assignment === 'Transfiguration', 'blue-background': user.assignment === 'Charms','yellow-background': user.assignment === 'Herbology','green-background': user.assignment === 'Potions' }"
                    class=" rounded-3xl text-white bg-[#E9131F] px-3 w-24 text-center text-[12px]">{{ user.assignment
                    }}</p>
            </div>
        </div>
        <div>
            <h2 class="font-bold text-[20px] mb-5 ">Students</h2>
            <div class="students grid grid-cols-1 xl:grid-cols-2 gap-x-16 gap-y-5">

                <div *ngFor="let user of students"
                    class="flex flex-row justify-around items-start p-4 w-[360px] h-[133px] border rounded-xl shadow-lg shadow-gray-300">
                    <div class="flex flex-col justify-start w-full space-y-1 items-start">
                        <h3 class=" text-[17px] font-bold">{{ user.firstName }} {{ user.lastName }}</h3>
                        <p *ngIf="user.description" class="text-[17px] ">{{ user.description }}</p>
                        <div class="flex flex-row justify-start space-x-1 items-center">
                            <span class="material-icons-round">calendar_month</span>
                            <p class="text-[11px]" *ngIf="user.arrivalDate">
                                {{ user.arrivalDate }}
                            </p>
                        </div>
                    </div>
                    <p [ngClass]="{ 'red-background': user.house === 'Gryffindor', 'green-background': user.house !== 'Gryffindor' }"
                        class="rounded-3xl text-white bg-[#E9131F] px-3 w-24 text-center text-[12px]">{{ user.house }}
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>