<div class="flex flex-col md:flex-row items-center space-y-2 justify-between">
  <div class="w-28 h-1/6 ml-10 md:ml-20 mt-4">
    <div class="flex flex-col items-start justify-center h-full relative p-0 m-0">
      <h1 class="text-[28px] text-black font-normal px-2 py-1 absolute font-Orelega">Hogwarts</h1>
      <div class="h-3 bg-white w-full"></div>
      <div class="h-3 bg-yellow-300 w-full"></div>
    </div>
  </div>

  <div class="text-center text-sm font-bold md:mr-32 text-gray-700">
    <p>&copy; Messaoud Hamdi - 04/07/2024</p>
  </div>
</div>